.airline-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expand {
  font-size: 25px;
  cursor: pointer;
  text-align: right;
  margin-right: 5px;
  background-color: #fff;
  border: none;
}

@media screen and (max-width: 1260px) {
  #ndc-app .apSectionBottom .apButton {
    font-size: 15px;
  }
}
